<div 
    class="modal fade show" 
    id="modal-delete-popout" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="modal-block-popout" 
    style="display: none; padding-right: 17px;" 
    aria-modal="true">
    <div class="modal-dialog modal-dialog-popout" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Confirme a remoção</h3>
                    <div class="block-options">
                        <button 
                            type="button" 
                            class="btn-block-option" 
                            data-dismiss="modal" 
                            aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content font-size-sm">
                    <div id="modal-content">
                        <p>
                            Esta ação irá remover permanentemente o item do tipo: 
                            <b>{{ page_title }}</b>. Para continuar clique em 
                            <b>Remover</b> ou cancele clicando em <b>Cancelar</b>.
                        </p>
                    </div>
                </div>
                <div class="block-content block-content-full text-right border-top">
                    <a 
                        id="modal-submit-button"
                        href=""
                        class="btn btn-sm btn-danger">
                        <i class="fa fa-trash mr-1"></i>
                        Remover
                    </a>
                    <button 
                        type="button" 
                        class="btn btn-sm btn-outline-secondary" 
                        data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>