<div 
    class="modal fade show" 
    id="modal-no-project-popout" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="modal-block-popout" 
    style="display: none; padding-right: 17px;" 
    aria-modal="true">
    <div class="modal-dialog modal-dialog-popout" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Mensagem de aviso</h3>
                    <div class="block-options">
                        <button 
                            type="button" 
                            class="btn-block-option" 
                            data-dismiss="modal" 
                            aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content font-size-sm">
                    <div id="modal-content">
                        <p>
                            Ainda não existe um <b>Projeto</b>
                            vinculado ao <b>Ponto Elétrico</b>
                            referenciado neste item.
                        </p>
                    </div>
                </div>
                <div class="block-content block-content-full text-right border-top">
                    <button 
                        type="button" 
                        class="btn btn-sm btn-info" 
                        data-dismiss="modal">
                        Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>