{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    {% include 'common/page_navigation_head.html' %}
    <!-- END Hero -->
    <!-- Page Content -->
    <div class="content content-narrow">
        <!-- Stats -->
        <div class="row">
            <form 
                id="project_progress_status_filter_form"
                class="d-none" 
                action="{% url 'projects:listProjects' %}" 
                method="POST">{% csrf_token %}
                <input 
                    type="submit" 
                    class="d-none"
                    name="project_progress_status_filter"
                    value="" />
            </form>
            <script>
                function callFilteredProjectList(target) {
                    $('input[name="project_progress_status_filter"]').val(target).click();
                }
            </script>
            <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                <a 
                    class="block block-rounded block-link-pop border-left border-primary border-4x"
                    href="javascript:void(0)"
                    target="A projetar"
                    onclick="callFilteredProjectList(this.getAttribute('target'))">
                    <div class="block-content block-content-full">
                        <div 
                            class="font-size-sm font-w600 text-uppercase">
                            <small class="text-muted">Pontos Elétricos</small>
                            <div class="text-info"><small>A projetar</small></div>
                        </div>
                        <div 
                            class="font-size-h2 font-w400 text-dark text-right">
                            {{ models.projects.designing }}
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                <a 
                    class="block block-rounded block-link-pop border-left border-primary border-4x" 
                    href="javascript:void(0)"
                    target="A instalar"
                    onclick="callFilteredProjectList(this.getAttribute('target'))">
                    <div class="block-content block-content-full">
                        <div 
                            class="font-size-sm font-w600 text-uppercase">
                            <small class="text-muted">Pontos Elétricos</small>
                            <div class="text-secondary"><small>A instalar</small></div>
                        </div>
                        <div 
                            class="font-size-h2 font-w400 text-dark text-right">
                            {{ models.projects.installation }}
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                <a 
                    class="block block-rounded block-link-pop border-left border-primary border-4x" 
                    href="javascript:void(0)"
                    target="A energizar"
                    onclick="callFilteredProjectList(this.getAttribute('target'))">
                    <div class="block-content block-content-full">
                        <div 
                            class="font-size-sm font-w600 text-uppercase">
                            <small class="text-muted">Pontos Elétricos</small>
                            <div class="text-warning"><small>A energizar</small></div>
                        </div>
                        <div 
                            class="font-size-h2 font-w400 text-dark text-right">
                            {{ models.projects.energizing }}
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                <a 
                    class="block block-rounded block-link-pop border-left border-primary border-4x" 
                    href="javascript:void(0)"
                    target="A comissionar"
                    onclick="callFilteredProjectList(this.getAttribute('target'))">
                    <div class="block-content block-content-full">
                        <div 
                            class="font-size-sm font-w600 text-uppercase">
                            <small class="text-muted">Pontos Elétricos</small>
                            <div class="text-primary"><small>A comissionar</small></div>
                        </div>
                        <div 
                            class="font-size-h2 font-w400 text-dark text-right">
                            {{ models.projects.commissioning }}
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                <a 
                    class="block block-rounded block-link-pop border-left border-primary border-4x" 
                    href="javascript:void(0)"
                    target="A operar"
                    onclick="callFilteredProjectList(this.getAttribute('target'))">
                    <div class="block-content block-content-full">
                        <div 
                            class="font-size-sm font-w600 text-uppercase">
                            <small class="text-muted">Pontos Elétricos</small>
                            <div class="text-dark"><small>A operar</small></div>
                        </div>
                        <div 
                            class="font-size-h2 font-w400 text-dark text-right">
                            {{ models.projects.operation }}
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                <a 
                    class="block block-rounded block-link-pop border-left border-primary border-4x" 
                    href="javascript:void(0)"
                    target="Concluído"
                    onclick="callFilteredProjectList(this.getAttribute('target'))">
                    <div class="block-content block-content-full">
                        <div 
                            class="font-size-sm font-w600 text-uppercase">
                            <small class="text-muted">Pontos Elétricos</small>
                            <div class="text-success"><small>Concluídos</small></div>
                        </div>
                        <div 
                            class="font-size-h2 font-w400 text-dark text-right">
                            {{ models.projects.finished }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- END Stats -->
        <!-- Dashboard Charts -->
         <div class="row">
            <div class="col-lg-6">
                <div class="block block-rounded block-mode-loading-oneui">
                    <div class="block-header">
                        <h3 class="block-title">Progresso de Projetos</h3>
                        <div class="block-options"></div>
                    </div>
                    <div class="block-content p-0 bg-body-light text-center">
                        <div class="pt-3" style="height: 360px;">
                            <canvas id="progressStatusChart"></canvas>
                            <script>
                            var ctx = document.getElementById('progressStatusChart').getContext('2d');
                            var progressStatusChart = new Chart(ctx, {
                                type: 'horizontalBar',
                                data: {
                                    labels: [
                                        'A projetar', 
                                        'A instalar', 
                                        'A energizar', 
                                        'A comissionar', 
                                        'A operar', 
                                        'Concluído'
                                    ],
                                    datasets: [{
                                        data: [
                                        '{{ models.projects.designing }}',
                                        '{{ models.projects.installation }}',
                                        '{{ models.projects.energizing }}',
                                        '{{ models.projects.commissioning }}',
                                        '{{ models.projects.operation }}',
                                        '{{ models.projects.finished }}'
                                        ],
                                        backgroundColor: [
                                            '#4EA9E6',
                                            '#5A6268',
                                            '#F0A73C',
                                            '#3E69C9',
                                            '#23272B',
                                            '#38AB69'
                                        ],
                                        borderColor: [
                                            '#4EA9E6',
                                            '#5A6268',
                                            '#F0A73C',
                                            '#3E69C9',
                                            '#23272B',
                                            '#38AB69'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: false
                                    },
                                    scales: {
                                        xAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                precision: 1,
                                            }
                                        }],
                                    }
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- END Dashboard Charts -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
{% endblock content %}