{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load decimal_filter %}
{% load div_by_zero %}
{% block scripts %}
{% endblock scripts %}
{% block content %}
<!-- Main Container -->
<main id="main-container">
    <!-- Hero -->
    {% include 'common/page_navigation_head.html' %}
    <!-- END Hero -->
    <!-- Page Content -->
    <div class="content content-narrow">
        <!-- Stats -->
        <div>
            <form 
                id="project_progress_status_filter_form"
                class="d-none" 
                action="{% url 'projects:listProjects' %}" 
                method="GET">{% csrf_token %}
                <input id="progress_status" type="text" class="d-none" name="progress_status" value=""/>
            </form>
            <script>
                function callFilteredProjectList(target) {
                    $('input[name="progress_status"]').val(target).click();
                    $('#project_progress_status_filter_form').submit()
                }
            </script>
            <div id="progress_status_cards" class="row">
                <div class="col-6 col-md-2 col-lg-6 col-xl-2" style="max-height: 0;">
                    <a 
                        class="block block-rounded block-link-pop border-left border-info border-4x"
                        href="javascript:void(0)"
                        target="A projetar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Pontos Telecontrole</small>
                                <div class="text-info"><small>A projetar</small></div>
                            </div>
                            <div class="row">
                                <div 
                                    class="col font-size-h3 font-w400 text-dark text-right ml-auto mr-2 px-0">
                                    {{ models.projects.designing }}
                                    <small><small>
                                        / {{ models.electric_points.designing }}
                                    </small></small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a 
                        class="block block-rounded block-link-pop border-left border-info border-4x"
                        href="javascript:void(0)"
                        target="A projetar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Avanço em</small>
                                <div class="text-info">
                                    {{ models.electric_points.designing|div_by_zero:models.projects.total|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">
                                        ({{ models.electric_points.designing }})
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Com pendências</small>
                                <div class="text-danger">
                                    {{ models.pendencies.designing|div_by_zero:models.projects.designing|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">({{ models.pendencies.designing }})</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                    <a 
                        class="block block-rounded block-link-pop border-left border-secondary border-4x" 
                        href="javascript:void(0)"
                        target="A instalar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Pontos Telecontrole</small>
                                <div class="text-secondary"><small>A instalar</small></div>
                            </div>
                            <div class="row">
                                <div 
                                    class="col font-size-h3 font-w400 text-dark text-right ml-auto mr-2 px-0">
                                    {{ models.projects.installation }}
                                    <small>
                                        /<small class="text-secondary">
                                        {{ models.electric_points.installation }}
                                        </small>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a 
                        class="block block-rounded block-link-pop border-left border-secondary border-4x"
                        href="javascript:void(0)"
                        target="A instalar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Avanço em</small>
                                <div class="text-secondary">
                                    {{ models.electric_points.installation|div_by_zero:models.projects.total|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">
                                        ({{ models.electric_points.installation }})
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Com pendências</small>
                                <div class="text-danger">
                                    {{ models.pendencies.installation|div_by_zero:models.projects.installation|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">({{ models.pendencies.installation }})</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                    <a 
                        class="block block-rounded block-link-pop border-left border-warning border-4x" 
                        href="javascript:void(0)"
                        target="A energizar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Pontos Telecontrole</small>
                                <div class="text-warning"><small>A energizar</small></div>
                            </div>
                            <div class="row">
                                <div 
                                    class="font-size-h3 font-w400 text-dark text-right ml-auto mr-2 px-0">
                                    {{ models.projects.energizing }}
                                    <small>
                                        /<small class="text-secondary">
                                        {{ models.electric_points.energizing }}
                                        </small>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a 
                        class="block block-rounded block-link-pop border-left border-warning border-4x" 
                        href="javascript:void(0)"
                        target="A energizar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Avanço em</small>
                                <div class="text-warning">
                                    {{ models.electric_points.energizing|div_by_zero:models.projects.total|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">
                                        ({{ models.electric_points.energizing }})
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Com pendências</small>
                                <div class="text-danger">
                                    {{ models.pendencies.energizing|div_by_zero:models.projects.energizing|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">({{ models.pendencies.energizing }})</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                    <a 
                        class="block block-rounded block-link-pop border-left border-primary border-4x" 
                        href="javascript:void(0)"
                        target="A comissionar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Pontos Telecontrole</small>
                                <div class="text-primary"><small>A comissionar</small></div>
                            </div>
                            <div class="row">
                                <div 
                                    class="font-size-h3 font-w400 text-dark text-right ml-auto mr-2 px-0">
                                    {{ models.projects.commissioning }}
                                    <small>
                                        /<small class="text-secondary">
                                        {{ models.electric_points.commissioning }}
                                        </small>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a 
                        class="block block-rounded block-link-pop border-left border-primary border-4x" 
                        href="javascript:void(0)"
                        target="A comissionar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Avanço em</small>
                                <div class="text-primary">
                                    {{ models.electric_points.commissioning|div_by_zero:models.projects.total|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">
                                        ({{ models.electric_points.commissioning }})
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Com pendências</small>
                                <div class="text-danger">
                                    {{ models.pendencies.commissioning|div_by_zero:models.projects.commissioning|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">({{ models.pendencies.commissioning }})</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                    <a 
                        class="block block-rounded block-link-pop border-left border-dark border-4x" 
                        href="javascript:void(0)"
                        target="A operar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Pontos Telecontrole</small>
                                <div class="text-dark"><small>A operar</small></div>
                            </div>
                            <div class="row">
                                <div 
                                    class="font-size-h3 font-w400 text-dark text-right ml-auto mr-2 px-0">
                                    {{ models.projects.operation }}
                                    <small>
                                        /<small class="text-secondary">
                                        {{ models.electric_points.operation }}
                                        </small>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a 
                        class="block block-rounded block-link-pop border-left border-dark border-4x" 
                        href="javascript:void(0)"
                        target="A operar"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Avanço em</small>
                                <div class="text-dark">
                                    {{ models.electric_points.operation|div_by_zero:models.projects.total|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">
                                        ({{ models.electric_points.operation }})
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Com pendências</small>
                                <div class="text-danger">
                                    {{ models.pendencies.operation|div_by_zero:models.projects.operation|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">({{ models.pendencies.operation }})</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 col-lg-6 col-xl-2">
                    <a 
                        class="block block-rounded block-link-pop border-left border-success border-4x" 
                        href="javascript:void(0)"
                        target="Concluído"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Pontos Telecontrole</small>
                                <div class="text-success"><small>Concluídos</small></div>
                            </div>
                            <div class="row">
                                <div 
                                    class="font-size-h3 font-w400 text-dark text-right ml-auto mr-2 px-0">
                                    {{ models.projects.finished }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a 
                        class="block block-rounded block-link-pop border-left border-success border-4x" 
                        href="javascript:void(0)"
                        target="Concluído"
                        onclick="callFilteredProjectList(this.getAttribute('target'))">
                        <div class="block-content block-content-full" style="min-height: 147px;">
                            <div 
                                class="font-size-sm font-w600 text-uppercase">
                                <small class="text-muted">Avanço em</small>
                                <div class="text-success">
                                    {{ models.projects.finished|div_by_zero:models.projects.total|mul:100|decimal_filter }}
                                    <span>%</span>
                                    <span class="text-dark">
                                        ({{ models.projects.finished }})
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- END Stats -->
        <!-- Dashboard Charts -->
         <div class="row">
            <div class="col-lg-6">
                <div class="block block-rounded block-mode-loading-oneui">
                    <div class="block-header">
                        <h3 class="block-title">Quantativo de projetos por status</h3>
                        <div class="block-options"></div>
                    </div>
                    <div class="block-content p-0 bg-body-light text-center">
                        <div class="pt-3">
                            <canvas id="progressStatusChart"></canvas>
                            <script>
                            var ctx = document.getElementById('progressStatusChart').getContext('2d');
                            var progressStatusChart = new Chart(ctx, {
                                type: 'horizontalBar',
                                data: {
                                    labels: [
                                        'A projetar', 
                                        'A instalar', 
                                        'A energizar', 
                                        'A comissionar', 
                                        'A operar', 
                                        'Concluído'
                                    ],
                                    datasets: [{
                                        data: [
                                        '{{ models.projects.designing }}',
                                        '{{ models.projects.installation }}',
                                        '{{ models.projects.energizing }}',
                                        '{{ models.projects.commissioning }}',
                                        '{{ models.projects.operation }}',
                                        '{{ models.projects.finished }}'
                                        ],
                                        backgroundColor: [
                                            '#4EA9E6',
                                            '#5A6268',
                                            '#F0A73C',
                                            '#3E69C9',
                                            '#23272B',
                                            '#38AB69'
                                        ],
                                        borderColor: [
                                            '#4EA9E6',
                                            '#5A6268',
                                            '#F0A73C',
                                            '#3E69C9',
                                            '#23272B',
                                            '#38AB69'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: false
                                    },
                                    scales: {
                                        xAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                precision: 1,
                                            }
                                        }],
                                    }
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block block-rounded block-mode-loading-oneui">
                    <div class="block-header">
                        <h3 class="block-title">Status de projetos por regional</h3>
                        <div class="block-options"></div>
                    </div>
                    <div class="block-content p-0 bg-body-light text-center">
                        <div class="pt-3">
                            <canvas id="projectsByRegionChart"></canvas>
                            <script>
                            var ctx = document.getElementById('projectsByRegionChart').getContext('2d');
                            var projectsByRegionChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: [
                                        {% for name in models.feeders.electric_regions.names %}
                                        '{{ name.electric_region }}',
                                        {% endfor %}
                                    ],
                                    datasets: [
                                        {% for progress_status, values in models.feeders.electric_regions.count.items %}
                                        {
                                            label: '{{ progress_status }}',
                                            data: [
                                                {% for region, value in values.items %}
                                                '{{ value }}',
                                                {% endfor %}
                                            ],                                            
                                            {% if progress_status == 'A projetar' %}
                                                backgroundColor: [
                                                    {% for region, value in values.items %}
                                                    '#4EA9E6',
                                                    {% endfor %}
                                                ],
                                                borderColor: [
                                                    {% for region, value in values.items %}
                                                    '#4EA9E6',
                                                    {% endfor %}
                                                ],
                                            {% elif progress_status == 'A instalar' %}
                                                backgroundColor: [
                                                    {% for region, value in values.items %}
                                                    '#5A6268',
                                                    {% endfor %}
                                                ],
                                                borderColor: [
                                                    {% for region, value in values.items %}
                                                    '#5A6268',
                                                    {% endfor %}
                                                ],
                                            {% elif progress_status == 'A energizar' %}
                                                backgroundColor: [
                                                    {% for region, value in values.items %}
                                                    '#F0A73C',
                                                    {% endfor %}
                                                ],
                                                borderColor: [
                                                    {% for region, value in values.items %}
                                                    '#F0A73C',
                                                    {% endfor %}
                                                ],
                                            {% elif progress_status == 'A comissionar' %}
                                                backgroundColor: [
                                                    {% for region, value in values.items %}
                                                    '#3E69C9',
                                                    {% endfor %}
                                                ],
                                                borderColor: [
                                                    {% for region, value in values.items %}
                                                    '#3E69C9',
                                                    {% endfor %}
                                                ],
                                            {% elif progress_status == 'A operar' %}
                                                backgroundColor: [
                                                    {% for region, value in values.items %}
                                                    '#23272B',
                                                    {% endfor %}
                                                ],
                                                borderColor: [
                                                    {% for region, value in values.items %}
                                                    '#23272B',
                                                    {% endfor %}
                                                ],
                                            {% elif progress_status == 'Concluído' %}
                                                backgroundColor: [
                                                    {% for region, value in values.items %}
                                                    '#38AB69',
                                                    {% endfor %}
                                                ],
                                                borderColor: [
                                                    {% for region, value in values.items %}
                                                    '#38AB69',
                                                    {% endfor %}
                                                ],
                                            {% endif %}
                                            borderWidth: 1
                                        },
                                        {% endfor %}
                                    ]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                precision: 1,
                                            }
                                        }],
                                    }
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="block block-rounded block-mode-loading-oneui">
                    <div class="block-header">
                        <h3 class="block-title">Projetos com avanço de status no tempo (Quantidade x Tempo) [2019]</h3>
                        <div class="block-options"></div>
                    </div>
                    <div class="block-content p-0 bg-body-light text-center">
                        <div class="pt-3">
                            <canvas id="projectsProgressByTimeChart" height="80"></canvas>
                            <script>
                            var ctx = document.getElementById('projectsProgressByTimeChart').getContext('2d');
                            var projectsByRegionChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: [
                                        "Janeiro",
                                        "Fevereiro",
                                        "Março",
                                        "Abril",
                                        "Maio",
                                        "Junho",
                                        "Julho",
                                        "Agosto",
                                        "Setembro",
                                        "Outubro",
                                        "Novembro",
                                        "Dezembro"
                                    ],
                                    datasets: [
                                        {
                                            label:"A instalar",
                                            data:[
                                                {% comment %}
                                                {% for step, value in models.projects.year_2019.items %}
                                                    {% if step == 'A instalar' %}
                                                        {{ value.month_1.0 }},
                                                        {{ value.month_2.0 }},
                                                        {{ value.month_3.0 }},
                                                        {{ value.month_4.0 }},
                                                        {{ value.month_5.0 }},
                                                        {{ value.month_6.0 }},
                                                        {{ value.month_7.0 }},
                                                        {{ value.month_8.0 }},
                                                        {{ value.month_9.0 }},
                                                        {{ value.month_10.0 }},
                                                        {{ value.month_11.0 }},
                                                        {{ value.month_12.0 }},
                                                    {% endif %}
                                                {% endfor %}
                                                {% endcomment %}
                                            ],
                                            fill:false,
                                            borderColor:'#5A6268',
                                            backgroundColor:'#5A6268',
                                            lineTension:0.2,
                                            hidden: true,
                                        },
                                        {
                                            label:"A energizar",
                                            data:[
                                                {% for step, value in models.projects.year_2019.items %}
                                                    {% if step == 'A energizar' %}
                                                        {{ value.month_1.0 }},
                                                        {{ value.month_2.0 }},
                                                        {{ value.month_3.0 }},
                                                        {{ value.month_4.0 }},
                                                        {{ value.month_5.0 }},
                                                        {{ value.month_6.0 }},
                                                        {{ value.month_7.0 }},
                                                        {{ value.month_8.0 }},
                                                        {{ value.month_9.0 }},
                                                        {{ value.month_10.0 }},
                                                        {{ value.month_11.0 }},
                                                        {{ value.month_12.0 }},
                                                    {% endif %}
                                                {% endfor %}
                                            ],
                                            fill:false,
                                            borderColor:'#F0A73C',
                                            backgroundColor:'#F0A73C',
                                            lineTension:0.2
                                        },
                                        {
                                            label:"A comissionar",
                                            data:[
                                                {% for step, value in models.projects.year_2019.items %}
                                                    {% if step == 'A comissionar' %}
                                                        {{ value.month_1.0 }},
                                                        {{ value.month_2.0 }},
                                                        {{ value.month_3.0 }},
                                                        {{ value.month_4.0 }},
                                                        {{ value.month_5.0 }},
                                                        {{ value.month_6.0 }},
                                                        {{ value.month_7.0 }},
                                                        {{ value.month_8.0 }},
                                                        {{ value.month_9.0 }},
                                                        {{ value.month_10.0 }},
                                                        {{ value.month_11.0 }},
                                                        {{ value.month_12.0 }},
                                                    {% endif %}
                                                {% endfor %}
                                            ],
                                            fill:false,
                                            borderColor:'#3E69C9',
                                            backgroundColor:'#3E69C9',
                                            lineTension:0.2
                                        },
                                        {
                                            label:"A operar",
                                            data:[
                                                {% for step, value in models.projects.year_2019.items %}
                                                    {% if step == 'A operar' %}
                                                        {{ value.month_1.0 }},
                                                        {{ value.month_2.0 }},
                                                        {{ value.month_3.0 }},
                                                        {{ value.month_4.0 }},
                                                        {{ value.month_5.0 }},
                                                        {{ value.month_6.0 }},
                                                        {{ value.month_7.0 }},
                                                        {{ value.month_8.0 }},
                                                        {{ value.month_9.0 }},
                                                        {{ value.month_10.0 }},
                                                        {{ value.month_11.0 }},
                                                        {{ value.month_12.0 }},
                                                    {% endif %}
                                                {% endfor %}
                                            ],
                                            fill:false,
                                            borderColor:'#23272B',
                                            backgroundColor:'#23272B',
                                            lineTension:0.2
                                        },
                                        {
                                            label:"Concluído",
                                            data:[
                                                {% for step, value in models.projects.year_2019.items %}
                                                    {% if step == 'Concluído' %}
                                                        {{ value.month_1.0 }},
                                                        {{ value.month_2.0 }},
                                                        {{ value.month_3.0 }},
                                                        {{ value.month_4.0 }},
                                                        {{ value.month_5.0 }},
                                                        {{ value.month_6.0 }},
                                                        {{ value.month_7.0 }},
                                                        {{ value.month_8.0 }},
                                                        {{ value.month_9.0 }},
                                                        {{ value.month_10.0 }},
                                                        {{ value.month_11.0 }},
                                                        {{ value.month_12.0 }},
                                                    {% endif %}
                                                {% endfor %}
                                            ],
                                            fill:false,
                                            borderColor:'#38AB69',
                                            backgroundColor:'#38AB69',
                                            lineTension:0.2
                                        }
                                    ]
                                },
                                options: {}
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block block-rounded block-mode-loading-oneui">
                    <div class="block-header">
                        <h3 class="block-title">Pendências (Quantidade x Tipo)</h3>
                        <div class="block-options"></div>
                    </div>
                    <div class="block-content p-0 bg-body-light text-center">
                        <div class="pt-3">
                            <canvas id="pendenciesByTypeChart" height="200"></canvas>
                            <script>
                            var ctx = document.getElementById('pendenciesByTypeChart').getContext('2d');
                            var pendenciesByTypeChart = new Chart(ctx, {
                                type:"bar",
                                data:{
                                    labels:[
                                        "Materiais de obra",
                                        "Obra não concluída",
                                        "Cobertura não condiz com estudo teórico",
                                        "Equipamento de Telecom com defeito",
                                        "Equipamento de MT com defeito",
                                        "Falta conectar MT",
                                        "IMS sem bateria",
                                        "Sem cadastro no mapa",
                                        "Tensão TP inadequada",
                                        "Pendências de Operação",
                                    ],
                                    datasets:[
                                        {
                                            label: 'Pendências cadastradas',
                                            data:[
                                                {{ models.pendencies.year_2019.all.installation_0 }},
                                                {{ models.pendencies.year_2019.all.energizing_0 }},
                                                {{ models.pendencies.year_2019.all.commissioning_0 }},
                                                {{ models.pendencies.year_2019.all.commissioning_1 }},
                                                {{ models.pendencies.year_2019.all.commissioning_2 }},
                                                {{ models.pendencies.year_2019.all.commissioning_3 }},
                                                {{ models.pendencies.year_2019.all.commissioning_4 }},
                                                {{ models.pendencies.year_2019.all.commissioning_5 }},
                                                {{ models.pendencies.year_2019.all.commissioning_6 }},
                                                {{ models.pendencies.year_2019.all.operation_0 }},
                                            ],
                                            fill:false,
                                            backgroundColor:[
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                            ],
                                            borderColor:[
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                                '#23272B',
                                            ],
                                            borderWidth:2,                                            
                                        },
                                        {
                                            label: 'Pendências não solucionadas',
                                            data:[
                                                {{ models.pendencies.year_2019.unsolved.installation_0 }},
                                                {{ models.pendencies.year_2019.unsolved.energizing_0 }},
                                                {{ models.pendencies.year_2019.unsolved.commissioning_0 }},
                                                {{ models.pendencies.year_2019.unsolved.commissioning_1 }},
                                                {{ models.pendencies.year_2019.unsolved.commissioning_2 }},
                                                {{ models.pendencies.year_2019.unsolved.commissioning_3 }},
                                                {{ models.pendencies.year_2019.unsolved.commissioning_4 }},
                                                {{ models.pendencies.year_2019.unsolved.commissioning_5 }},
                                                {{ models.pendencies.year_2019.unsolved.commissioning_6 }},
                                                {{ models.pendencies.year_2019.unsolved.operation_0 }},
                                            ],
                                            fill:false,
                                            backgroundColor:[
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                            ],
                                            borderColor:[
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                                '#d26a5c',
                                            ],
                                            borderWidth:2,
                                        },
                                        {
                                            label: 'Pendências solucionadas',
                                            data:[
                                                {{ models.pendencies.year_2019.solved.installation_0 }},
                                                {{ models.pendencies.year_2019.solved.energizing_0 }},
                                                {{ models.pendencies.year_2019.solved.commissioning_0 }},
                                                {{ models.pendencies.year_2019.solved.commissioning_1 }},
                                                {{ models.pendencies.year_2019.solved.commissioning_2 }},
                                                {{ models.pendencies.year_2019.solved.commissioning_3 }},
                                                {{ models.pendencies.year_2019.solved.commissioning_4 }},
                                                {{ models.pendencies.year_2019.solved.commissioning_5 }},
                                                {{ models.pendencies.year_2019.solved.commissioning_6 }},
                                                {{ models.pendencies.year_2019.solved.operation_0 }},
                                            ],
                                            fill:false,
                                            backgroundColor:[
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                            ],
                                            borderColor:[
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                                '#38AB69',
                                            ],
                                            borderWidth:2,
                                        }
                                    ]
                                },
                                options:{
                                    //legend: { display: false },
                                    scales:{
                                        yAxes:[
                                            {
                                                ticks:{
                                                    beginAtZero:true
                                                }
                                            }
                                        ]
                                    }
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- END Dashboard Charts -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
{% endblock content %}