{% extends 'common/list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block scripts %}        
<script>
    function passDataToModal(url) {
        document.getElementById('modal-submit-button').href = url;
    }
    function applyFilter() {
        $('#filter-form').submit();
    }
    function applySelection(target) {
        document.getElementById(target).value = event.target.innerText;
        document.getElementById(target+'_ribbon').innerText = event.target.innerText;
        document.getElementById(target+'_ribbon').parentElement.parentElement.classList.remove('d-none');
    }
    function removeFilter(target) {
        document.getElementById(target).value = null;
        document.getElementById(target+'_ribbon').innerText = null;
        document.getElementById(target+'_ribbon').parentElement.parentElement.classList.add('d-none');
    }
</script>
{% endblock scripts %}

{% block list_add_new %}
<div class="btn-toolbar btn-toolbar-filter" role="toolbar">
    <div class="btn-group mr-2 d-none" role="group">
        <span 
            class="btn btn-outline-primary" 
            target="equipment_type" 
            onclick="removeFilter(this.getAttribute('target'));">
            <i class="fa fa-filter"></i>
            <i class="fa fa-times" style="display: none;"></i>
            <span id="equipment_type_ribbon"></span>
        </span>
    </div>
    <div class="btn-group mr-2 d-none" role="group">
        <span 
            class="btn btn-outline-primary" 
            target="electric_region" 
            onclick="removeFilter(this.getAttribute('target'));">
            <i class="fa fa-filter"></i>
            <i class="fa fa-times" style="display: none;"></i>
            <span id="electric_region_ribbon"></span>
        </span>
    </div>
    <div class="btn-group mr-2 d-none" role="group">
        <span 
            class="btn btn-outline-primary" 
            target="progress_status" 
            onclick="removeFilter(this.getAttribute('target'));">
            <i class="fa fa-filter"></i>
            <i class="fa fa-times" style="display: none;"></i>
            <span id="progress_status_ribbon"></span>
        </span>
    </div>
</div>   
<div>
    <a
        href="javascript:void(0)"
        onclick="applyFilter();"
        class="btn btn-outline-primary" 
        data-toggle="block-option">
        <i class="si si-plus"></i>
        <span>Aplicar Filtro</span>
    </a>
</div>
{% endblock list_add_new %}

{% block list_head %}  
<thead>
    <tr class="text-uppercase">
        <form 
            id="filter-form"
            class="p-2" 
            action="{% url 'projects:listProjects' %}" 
            method="GET">
            {% if is_paginated %}
            <input type="text" class="d-none" name="page" value="{{ page_obj.number }}"/>
            {% endif %}
            <input id="equipment_type" type="text" class="d-none" name="equipment_type" value=""/>
            <input id="electric_region" type="text" class="d-none" name="electric_region" value=""/>
            <input id="progress_status" type="text" class="d-none" name="progress_status" value=""/>
        </form>
            <!-- <th class="font-w700">ID</th> -->
            <th class="d-none d-sm-table-cell font-w700 align-middle">Ponto Indicado</th>
            <th class="font-w700 align-middle">Nº Projeto</th>

            <th class="font-w700 align-middle text-center">
                <div class="dropdown">
                    <button 
                        type="button"
                        style="font-size: .875rem;"
                        class="btn btn-outline-dark dropdown-toggle text-uppercase border-0 font-w700" 
                        id="equipment_type_dropdown" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        Tipo de Equipamento
                    </button>
                    <div 
                        class="dropdown-menu font-size-sm w-100" 
                        aria-labelledby="dropdown-align-outline-primary" 
                        x-placement="top-end" 
                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(44px, -148px, 0px);">
                        
                        <a 
                            target="equipment_type"
                            class="dropdown-item" 
                            href="javascript:void(0)"
                            onclick="applySelection(this.getAttribute('target'));">
                            Chave
                        </a>
                        <a 
                            target="equipment_type"
                            class="dropdown-item" 
                            href="javascript:void(0)"
                            onclick="applySelection(this.getAttribute('target'));">
                            Religador
                        </a>

                    </div>
                </div>
            </th>

            <th class="font-w700 align-middle text-center">
                <div class="dropdown">
                    <button 
                        type="button"
                        style="font-size: .875rem;"
                        class="btn btn-outline-dark dropdown-toggle text-uppercase border-0 font-w700" 
                        id="equipment_type_dropdown" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        Regional
                    </button>
                    <div 
                        class="dropdown-menu font-size-sm w-100" 
                        aria-labelledby="dropdown-align-outline-primary" 
                        x-placement="top-end" 
                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(44px, -148px, 0px);">                        
                        {% for electric_region in front_data.electric_regions %}    
                        <a 
                            target="electric_region"
                            class="dropdown-item" 
                            href="javascript:void(0)"
                            onclick="applySelection(this.getAttribute('target'));">
                            {{ electric_region.electric_region }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </th>
            <th class="font-w700 align-middle">Data de conclusão da etapa</th>
            <th class="font-w700 align-middle text-center d-flex">
                <div class="dropdown">
                    <button 
                        type="button"
                        style="font-size: .875rem;"
                        class="btn btn-outline-dark dropdown-toggle text-uppercase border-0 font-w700" 
                        id="equipment_type_dropdown" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        Progresso
                    </button>
                    <div 
                        class="dropdown-menu font-size-sm w-100" 
                        aria-labelledby="dropdown-align-outline-primary" 
                        x-placement="top-end" 
                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(44px, -148px, 0px);">                        
                        {% for progress_status in front_data.progress_status %}
                        <a 
                            target="progress_status"
                            class="dropdown-item" 
                            href="javascript:void(0)"
                            onclick="applySelection(this.getAttribute('target'));">
                            {{ progress_status }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </th>
            {% comment %} <th class="font-w700 text-center" style="width: 40px;"></th> {% endcomment %}
            <th class="font-w700 text-center" style="width: 40px;"></th>
            <th class="font-w700 text-center" style="width: 40px;"></th>
    </tr>
</thead>
{% endblock list_head %}

{% block list_body %}
<tbody>
    {% for project in object_list %}
    <tr>
        <!-- <td><span class="font-w600">{{ project.id }}</span></td> -->
        <td class="d-none d-sm-table-cell">
            <span class="font-size-sm text-muted">
                {{ project.electric_point.name }}
            </span>
        </td>
        <td class="d-none d-sm-table-cell">
            <span class="font-size-sm text-muted">
                {% if project.sob is null %}
                Não cadastrado
                {% else %}
                {{ project.sob }}
                {% endif %}
            </span>
        </td>
        <td class="d-none d-sm-table-cell text-center">
            <span class="font-size-sm text-muted">
                {{ project.electric_point.get_equipment_type_display }}
            </span>
        </td>
        <td class="d-none d-sm-table-cell text-center">
            <span class="font-size-sm text-muted">
                {{ project.electric_point.feeder.electric_region }}
            </span>
        </td>
        <td class="d-none d-sm-table-cell">
            <span class="font-size-sm text-muted">
                {% if project.get_progress_status_display == 'A projetar' %}
                    {% if project.designing.real_date %}
                    {% language 'pt' %}
                        {{ project.designing.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.designing.programmed_date %}
                            {% language 'pt' %} 
                            {{ project.designing.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Finalização de Projeto a ser programado
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'A instalar' %}
                    {% if project.installation.real_date %}
                        {% language 'pt' %}
                        {{ project.installation.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.installation.programmed_date %}
                            {% language 'pt' %} 
                            {{ project.installation.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Instalação a ser programada
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'A energizar' %}
                    {% if project.energizing.real_date %}
                        {% language 'pt' %}
                        {{ project.energizing.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.energizing.programmed_date %}
                            {% language 'pt' %}
                            {{ project.energizing.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Energização a ser programada
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'A comissionar' %}
                    {% if project.commissioning.real_date %}
                        {% language 'pt' %}
                        {{ project.commissioning.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.commissioning.programmed_date %}
                            {% language 'pt' %}
                            {{ project.commissioning.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Comissionamento a ser programada
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'A operar' %}
                    {% if project.operation.real_date %}
                        {% language 'pt' %}
                        {{ project.operation.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.operation.programmed_date %}
                            {% language 'pt' %}
                            {{ project.operation.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Operação a ser programada
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'Concluído' %}
                    {% language 'pt' %}
                    {{ project.finished_at|date:"D, d \d\e F \d\e Y" }}
                    {% endlanguage %}

                {% endif %}
            </span>
        </td>
        <td class="d-none d-sm-table-cell text-center">
            {% if project.get_progress_status_display == 'A projetar' %}
            <span class="font-w600 btn btn-sm btn-info">
            {% elif project.get_progress_status_display == 'A instalar' %}
            <span class="font-w600 btn btn-sm btn-secondary">
            {% elif project.get_progress_status_display == 'A energizar' %}
            <span class="font-w600 btn btn-sm btn-warning">
            {% elif project.get_progress_status_display == 'A comissionar' %}
            <span class="font-w600 btn btn-sm btn-primary">
            {% elif project.get_progress_status_display == 'A operar' %}
            <span class="font-w600 btn btn-sm btn-dark">
            {% elif project.get_progress_status_display == 'Concluído' %}
            <span class="font-w600 btn btn-sm btn-success">
            {% else %}
            <span class="font-w600 btn btn-sm btn-default">
            {% endif %}
                {{ project.get_progress_status_display }}
            </span>
        </td>
        {% comment %} <td class="text-center">
            <a href="{% url 'projects:updateProject' project.id %}">
                <i class="si si-note text-secondary"></i>
            </a>
        </td> {% endcomment %}
        <td class="text-center">
            <a href="{% url 'projects:detailProject' project.id %}">
                <i class="si si-info text-info"></i>
            </a>
        </td>
        <td class="text-center">
            <a
                href="#"
                target="{% url 'projects:deleteProject' project.id %}"
                onclick="passDataToModal(this.getAttribute('target'))"
                data-toggle="modal" 
                data-target="#modal-delete-popout">
                <i class="si si-close text-danger"></i>
            </a> 
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock list_body %}
