{% extends 'common/list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block scripts %}        
<script>
    function passDataToModal(url) {
        document.getElementById('modal-submit-button').href = url;
    }
</script>
{% endblock scripts %}

{% block list_add_new %}
{% comment %} {% if request.user.is_admin or request.user.is_designer %}
<div>
    <a
        href="{% url 'projects:addProject' %}"
        class="btn btn-outline-primary" 
        data-toggle="block-option">
        <i class="si si-plus"></i>
        <span>Adicionar {{ page_title }}</span>
    </a>
</div>  
{% endif %} {% endcomment %}
{% endblock list_add_new %}

{% block list_head %}  
<thead>
    <tr class="text-uppercase">
        <!-- <th class="font-w700">ID</th> -->
        <th class="d-none d-sm-table-cell font-w700 align-middle">Ponto Indicado</th>
        <th class="font-w700 align-middle">Nº Projeto</th>
        <th class="font-w700 align-middle">Tipo de Equipamento</th>
        <th class="font-w700 align-middle">Data de conclusão da etapa</th>
        <th class="font-w700 align-middle text-center">
            <div class="btn-group">
                <div class="mt-2 border-0">Progresso</div>
                <a 
                    class="btn btn-outlline-secondary dropdown-toggle dropdown-toggle-filter dropdown-toggle-split" 
                    style="cursor: pointer;"
                    id="dropdown-split-filter"
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    <span class="fa fa-filter"></span>
                </a>
                <div 
                    class="dropdown-menu dropdown-menu-right font-size-sm" 
                    aria-labelledby="dropdown-split-warning" 
                    x-placement="top-start" 
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(74px, -185px, 0px); min-width: 13rem;">
                    <form 
                        class="p-2" 
                        action="{% url 'projects:listProjects' %}" 
                        method="POST">{% csrf_token %}
                        <div class="form-group mb-1">
                            <label class="m-2">Filtrar:</label>
                            <div class="input-group dropdown-item px-0 py-1">
                                <div class="input-group-prepend">
                                    <span 
                                        class="input-group-text border-0" 
                                        style="background-color: unset;">
                                        <span class="font-w700 text-dark si si-layers"></span>
                                    </span>
                                </div>
                                <input 
                                    type="submit" 
                                    class="text-uppercase col text-left border-0"
                                    style="background-color: unset;"
                                    name="project_progress_status_filter"
                                    value="Todos" />
                            </div>
                            <div class="input-group dropdown-item px-0 py-1">
                                <div class="input-group-prepend">
                                    <span 
                                        class="input-group-text border-0" 
                                        style="background-color: unset;">
                                        <span class="text-info si si-puzzle"></span>
                                    </span>
                                </div>
                                <input 
                                    type="submit" 
                                    class="text-uppercase col text-left border-0"
                                    style="background-color: unset;"
                                    name="project_progress_status_filter"
                                    value="A projetar" />
                            </div>
                            <div class="input-group dropdown-item px-0 py-1">
                                <div class="input-group-prepend">
                                    <span 
                                        class="input-group-text border-0" 
                                        style="background-color: unset;">
                                        <span class="text-secondary si si-wrench"></span>
                                    </span>
                                </div>
                                <input 
                                    type="submit" 
                                    class="text-uppercase col text-left border-0"
                                    style="background-color: unset;"
                                    name="project_progress_status_filter"
                                    value="A instalar" />
                            </div>
                            <div class="input-group dropdown-item px-0 py-1">
                                <div class="input-group-prepend">
                                    <span 
                                        class="input-group-text border-0" 
                                        style="background-color: unset;">
                                        <span class="si si-energy text-warning"></span>
                                    </span>
                                </div>
                                <input 
                                    type="submit" 
                                    class="text-uppercase col text-left border-0"
                                    style="background-color: unset;"
                                    name="project_progress_status_filter"
                                    value="A energizar" />
                            </div>
                            <div class="input-group dropdown-item px-0 py-1">
                                <div class="input-group-prepend">
                                    <span 
                                        class="input-group-text border-0" 
                                        style="background-color: unset;">
                                        <span class="si si-graph text-info"></span>
                                    </span>
                                </div>
                                <input 
                                    type="submit" 
                                    class="text-uppercase col text-left border-0"
                                    style="background-color: unset;"
                                    name="project_progress_status_filter"
                                    value="A comissionar" />
                            </div>
                            <div class="input-group dropdown-item px-0 py-1">
                                <div class="input-group-prepend">
                                    <span 
                                        class="input-group-text border-0" 
                                        style="background-color: unset;">
                                        <span class="si si-settings text-dark"></span>
                                    </span>
                                </div>
                                <input 
                                    type="submit" 
                                    class="text-uppercase col text-left border-0"
                                    style="background-color: unset;"
                                    name="project_progress_status_filter"
                                    value="A operar" />
                            </div>
                            <div class="input-group dropdown-item px-0 py-1">
                                <div class="input-group-prepend">
                                    <span 
                                        class="input-group-text border-0" 
                                        style="background-color: unset;">
                                        <span class="si si-check text-success"></span>
                                    </span>
                                </div>
                                <input 
                                    type="submit" 
                                    class="text-uppercase col text-left border-0"
                                    style="background-color: unset;"
                                    name="project_progress_status_filter"
                                    value="Concluído" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            </div>
        </th>
        {% comment %} <th class="font-w700 text-center" style="width: 40px;"></th> {% endcomment %}
        <th class="font-w700 text-center" style="width: 40px;"></th>
        <th class="font-w700 text-center" style="width: 40px;"></th>
    </tr>
</thead>
{% endblock list_head %}

{% block list_body %}
<tbody>
    {% for project in object_list %}
    <tr>
        <!-- <td><span class="font-w600">{{ feeder.id }}</span></td> -->
        <td class="d-none d-sm-table-cell">
            <span class="font-size-sm text-muted">
                {{ project.electric_point.name }}
            </span>
        </td>
        <td class="d-none d-sm-table-cell">
            <span class="font-size-sm text-muted">
                {% if project.sob is null %}
                Não cadastrado
                {% else %}
                {{ project.sob }}
                {% endif %}
            </span>
        </td>
        <td class="d-none d-sm-table-cell">
            <span class="font-size-sm text-muted">
                {{ project.electric_point.get_equipment_type_display }}
            </span>
        </td>
        <td class="d-none d-sm-table-cell">
            <span class="font-size-sm text-muted">
                {% if project.get_progress_status_display == 'A projetar' %}
                    {% if project.designing.real_date %}
                    {% language 'pt' %}
                        {{ project.designing.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.designing.programmed_date %}
                            {% language 'pt' %} 
                            {{ project.designing.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Finalização de Projeto a ser programado
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'A instalar' %}
                    {% if project.installation.real_date %}
                        {% language 'pt' %}
                        {{ project.installation.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.installation.programmed_date %}
                            {% language 'pt' %} 
                            {{ project.installation.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Instalação a ser programada
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'A energizar' %}
                    {% if project.energizing.real_date %}
                        {% language 'pt' %}
                        {{ project.energizing.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.energizing.programmed_date %}
                            {% language 'pt' %}
                            {{ project.energizing.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Energização a ser programada
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'A comissionar' %}
                    {% if project.commissioning.real_date %}
                        {% language 'pt' %}
                        {{ project.commissioning.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.commissioning.programmed_date %}
                            {% language 'pt' %}
                            {{ project.commissioning.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Comissionamento a ser programada
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'A operar' %}
                    {% if project.operation.real_date %}
                        {% language 'pt' %}
                        {{ project.operation.real_date|date:"D, d \d\e F \d\e Y" }}
                        {% endlanguage %}
                    {% else %}
                        {% if project.operation.programmed_date %}
                            {% language 'pt' %}
                            {{ project.operation.programmed_date|date:"D, d \d\e F \d\e Y" }}
                            {% endlanguage %}
                            (programada)
                        {% else %}
                            Operação a ser programada
                        {% endif %}
                    {% endif %}

                {% elif project.get_progress_status_display == 'Concluído' %}
                    {% language 'pt' %}
                    {{ project.finished_at|date:"D, d \d\e F \d\e Y" }}
                    {% endlanguage %}

                {% endif %}
            </span>
        </td>
        <td class="d-none d-sm-table-cell text-center">
            {% if project.get_progress_status_display == 'A projetar' %}
            <span class="font-w600 btn btn-sm btn-info">
            {% elif project.get_progress_status_display == 'A instalar' %}
            <span class="font-w600 btn btn-sm btn-secondary">
            {% elif project.get_progress_status_display == 'A energizar' %}
            <span class="font-w600 btn btn-sm btn-warning">
            {% elif project.get_progress_status_display == 'A comissionar' %}
            <span class="font-w600 btn btn-sm btn-primary">
            {% elif project.get_progress_status_display == 'A operar' %}
            <span class="font-w600 btn btn-sm btn-dark">
            {% elif project.get_progress_status_display == 'Concluído' %}
            <span class="font-w600 btn btn-sm btn-success">
            {% else %}
            <span class="font-w600 btn btn-sm btn-default">
            {% endif %}
                {{ project.get_progress_status_display }}
            </span>
        </td>
        {% comment %} <td class="text-center">
            <a href="{% url 'projects:updateProject' project.id %}">
                <i class="si si-note text-secondary"></i>
            </a>
        </td> {% endcomment %}
        <td class="text-center">
            <a href="{% url 'projects:detailProject' project.id %}">
                <i class="si si-info text-info"></i>
            </a>
        </td>
        <td class="text-center">
            <a
                href="#"
                target="{% url 'projects:deleteProject' project.id %}"
                onclick="passDataToModal(this.getAttribute('target'))"
                data-toggle="modal" 
                data-target="#modal-delete-popout">
                <i class="si si-close text-danger"></i>
            </a> 
        </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock list_body %}
