{% load crispy_forms_tags %}
<div 
    class="modal fade show" 
    id="modal-feeder-popout" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="modal-feeder-popout" 
    style="display: none; padding-right: 17px;" 
    aria-modal="true">
    <div class="modal-dialog modal-dialog-popout" role="document">
        <div class="modal-content">
                <div class="block block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">Alimentador</h3>
                        <div class="block-options">
                            <button 
                                type="button" 
                                class="btn-block-option" 
                                data-dismiss="modal" 
                                aria-label="Close">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content font-size-sm">
                        <div id="modal_content_for_feeder">
                            <div class="my-2 mx-2 row">
                                <span class="col-6 px-0 my-auto">
                                    <i class="si si-share-alt mr-3 font-w600"></i>
                                    <span class="font-w300">Alimentador:</span>
                                </span>
                                <span class="col-5 font-w400">
                                    {{ object.electric_point.feeder.name }}
                                </span>
                            </div>
                            <div class="my-2 mx-2 row">
                                <span class="col-6 px-0 my-auto">
                                    <i class="si si-vector mr-3 font-w600"></i>
                                    <span class="font-w300">Quantidade de Chaves:</span>
                                </span>
                                <span class="col-5 font-w400">
                                    {{ object.electric_point.feeder.key_amount }}
                                </span>
                            </div>
                            <div class="my-2 mx-2 row">
                                <span class="col-6 px-0 my-auto">
                                    <i class="si si-vector mr-3 font-w600"></i>
                                    <span class="font-w300">Quantidade de Religadores:</span>
                                </span>
                                <span class="col-5 font-w400">
                                    {{ object.electric_point.feeder.recloser_amount }}
                                </span>
                            </div>
                            <div class="my-2 mx-2 row">
                                <span class="col-6 px-0 my-auto">
                                    <i class="si si-layers mr-3 font-w600"></i>
                                    <span class="font-w300">Conjunto:</span>
                                </span>
                                <span class="col-5 font-w400">
                                    {{ object.electric_point.feeder.set_name }}
                                </span>
                            </div>
                            <div class="my-2 mx-2 row">
                                <span class="col-6 px-0 my-auto">
                                    <i class="si si-map mr-3 font-w600"></i>
                                    <span class="font-w300">Região Elétrica:</span>
                                </span>
                                <span class="col-5 font-w400">
                                    {{ object.electric_point.feeder.electric_region }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full text-right border-top">
                        <button 
                            type="button" 
                            class="btn btn-sm btn-outline-info" 
                            data-dismiss="modal">
                            Fechar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>